parameters:
    level: 7
    paths:
        - src/
    ignoreErrors:

        # Je ne veux pas reposer sur les annotations de type array{…}
        -
            identifier: missingType.iterableValue
